.all-watch {
  .mdl-layout {
    .mdl-layout__header {
      background-color: #DD5B00;

      .mdl-layout__header-row {
        .mdl-layout-title {
          font-family: "Lucida Console", Monaco, monospace;
          font-size: 22px;
        }
      }
    }

    .mdl-layout__content {
      background-color: #333333;

      .page-content {
        margin: 0 auto;
        max-width: 1400px;
        width: 100%;

        .mdl-card__title {
          background-color: #DD5B00;

          .mdl-card__title-text {
            font-family: "Lucida Console", Monaco, monospace;
          }
        }

        .mdl-card__supporting-text {
          background-color: #CCCCCC;
          width: 100%;
        }
      }
    }
  }
}

div {
  &.header-space {
    height: 20px;
    width: 20px;
  }

  &.webcam-container {
    width: 640px;
    margin-left: 5em;
    border: solid 3px #858585;

    &.live {
      border: solid 3px #FF0000;
    }
  }

  &.video-feed-button-container {
    padding-left: 24.5em;

    .mdl-button {
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 16px;
      color: #666666;
    }
  }
}