.all-watch {
  .mdl-layout {
    .mdl-layout__content {
      .page-content {
        margin: 0 auto;
        max-width: 1400px;
        width: 100%;
      }
    }
  }
}

div {
  &.header-space {
    height: 20px;
    width: 20px;
  }

  &.webcam-container {
    border: solid 3px #858585;
    width: 640px;
  }
}